.container {
    max-width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    width: 90%;
    padding: 0px 0px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 25px 25px 150px;
}

.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
    text-align: center;
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-left: 80px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 70px;
    border: none;
    height: 3px;
    margin-top: 8px;
    translate: translateX(100px);
    transition: transform 1s;
}
