<div class="header">
  <div class="navbar">
    <div class="logo">
        <a routerLink="/home"><img src="/assets/img/Logo.ico" width="125px"></a>
    </div>
    <nav>
        <ul id="MenuItems">
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/products">Productos</a></li>
            <li><a routerLink="/aboutus">Sobre Nosotros</a></li>
            <li><a routerLink="/account">Mi Cuenta</a></li>
        </ul>
    </nav>
    <a routerLink="/cart">
      <img src="/assets/img/carrito.png" width="30px" height="30px">
    </a>
    <img src="/assets/img/menu.png" class="menu-icon">
  </div>
</div>
